h1{
    background: rgb(50,50,50);
    /* vai #ffffff */
    color:green;
    font-size:50px;
    /* border-width: 4px;
    border-color:red;
    border-style:solid;
    vai */

    border:3px blue solid;

    width:500px;
    /* max-width:1000px; */
    height: 80px;
    overflow:hidden;
    /* ar hidden šo var paslēpt tekstu, kas izlīda no rāmja  */
    text-align: center;
    line-height: 80px;
    /* margin:50px; */
/*     
    vai 
    margin-top:10px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left:40px; */

    /* vai  */
/* 
    margin:10px 20px 30px 40px;

    var norādīt divus ciparus, pirmais būs uz augšu un lenu otrais pa labi un kreisi */
/*     margin:20px 40px; */
    /* margin:20px 30px 40px; */

    /* ir jāievēro secība, jo pēdējais ieraksts pārrakstīs pirmo ierakstu */
/* margin-top:50px;
    margin:20px; */


    /* padding:60px; */

    /* lai blokus noliktu blakus mēs izmantojam float */

    float:left;
}

.super-special{
    width: 100px;
    height: 100px;
    /* bacgroundam ir iedots caurspīdīgs */
    background: rgba(255,0,0);
    /* position: absolute; */
    position: fixed;


    top:0px;
    left:0px;


/* 
    visu elementu uztaisīt caurspīdīgu */

    font-size:50px;
    color:blue;
    /* opacity:0.5; */

}
.special1 {
    z-index: 1;
    /* ar z-ndex var izvietot lementu, kaut vai izvirzīt pašā priekša. Mājas lapā nav ieteicams pārsniegt 100  */
left: 50%;
top:50%;
margin-left:-50px;
margin-left:-50px;  
border-radius: 50px;


}
.special2 {
    left:50px;
    background: blue;
}
.special3 {
    left:25px;
    top:50px;
    background: green;
}